@model string
@{
    Layout = null;
    ViewData["Title"] = "Account Reproved";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">

    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    </environment>

    <title>Account reproved</title>
</head>
<body class="white-text red darken-2 container" style="position:absolute;top:40%;left:20%">
    <div>
        <h1>Account reproved</h1>
        <h5>Sorry! Your account was reproved. </h5>
    </div>
</body>
</html>
